body
{
    font-family: 'Roboto';
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 10px;
}

p {
    margin: 0 0 10px;
}

.strategies-header {
    float: left;
    border-bottom: 1px solid #dfdfdf;
    width: calc(100% - 48px);
    padding: 30px 0px 15px 0px;
    margin-left: 24px;
}
.strategies-header button:hover {
    background-color: #fe9a2c;
    opacity: .8;
}
.strategies-header-text {
    float:left;
    width: calc(100% - 48px);
    line-height: 48px;
}
.strategies-header-text h1 {
    font-size: 36px;
    font-weight: 500;
    display: inline;
    line-height: 48px;
    color: #353535;
}

.strategies-list {
  padding: 24px;
}

.Strategies-root-1 header {
    padding: 0px 24px;
    background-color: transparent !important;
    color: #c7c1c1;
    box-shadow: none;
}
header .MuiTabs-flexContainer-85 {
    float: right !important;
}

#tabs
{
    margin-top: 20px;
}

#tabs button[aria-selected=true]
{
    color: #ff9d33 !important;
    border-radius: 5px !important;
}
#tabs [role=tablist]
{
    position: relative;
}
#tabs [role=tablist] > span
{
    background-color: rgba(254,154,44,0.4);
    position: absolute;
    top: 0px;
    height: 100%;
    border-radius: 4px;
}

#tabs button {
    margin: 0px 5px;
    height: 38px !important;
    min-height: 38px !important;
    width: 98px !important;
    min-width: 98px !important;
    font-size: 18px !important;
    text-transform: none;
    color: #C6C0C0;
    font-weight: normal;
}
.strategies-item {
    color: #F8F8F8;
    font-size: 16px;
    float:left;
}
.strategies-item-container {
    margin-bottom: 24px;
    width: 100%;
    padding: 30px 30px 30px 40px;
    background-color: #f8f8f8;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}

/* .strategies-item-container:first-child
{
    padding-top: 0px;
} */
.strategies-item-container:last-child
{
    margin-bottom: 0px;
}
.strategies-content
{
    float:left;
    min-width: 200px;
    width: calc(100% - 264px - 198px - 10px);
    padding-right: 10px;
}
.strategies-content p
{
    font-weight: 200;
    line-height: 18px;
    margin-bottom: 0px;
    text-overflow: ellipsis;
    min-height: 36px;
    font-size: 16px !important;
    color: #8E8E8E;
}
.strategies-content h3 
{
    font-weight: 400;
    color:#fe9a2c !important;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 24px !important;
}
.strategies-created-date 
{
    height: 70px;
    border-left: 1px solid #dadada;
    width: 131px;
}
.strategies-modified-date
{
    height: 70px;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    width: 130px;
}
.strategies-modified-date h5,
.strategies-created-date h5
{
    color:#FE9A2C !important;
    font-weight: 300;
    font-size: 14px;
    margin-top: 14px;
    margin-left: 14px;
}
.strategies-modified-date p,
.strategies-created-date p
{
    margin-left: 14px;
    font-size: 17px;
    font-weight: 300;
    color: #7C7C7C !important;
}
.strategies-menu-container
{
    width: 197px;
}
.status-container
{
    vertical-align: middle;
    text-align:center;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    color: #353535;
    border: 1px solid #353535;
    margin-top: 4px;
}
.status-container span
{
    text-align:center;
    width: 101px;
    float:left;
    margin-top: calc(20px - 17px / 2);
    height: 14px;
    line-height: 14px !important;
    font-size: 14px;
    color: #353535;
}
.strategies-status
{
    padding: 13px 24px;
}
.strategies-menu-items 
{
    margin-top: calc(33px - 39px / 2);
}
.strategies-menu-items button
{
    color: #f57c14 !important;
}

#strategy-menu li
{
    color: #353535;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.34px;
    padding: 6px 16px 6px 16px;
}

#strategy-menu li > svg
{
    margin-right: 8px;
    font-size: 16px;
    transition: none;
}

#strategy-menu li:hover
{
    color: #FE9A2C;
    background-color: transparent !important;
}

.strategies-pagination-container:first-child
{
    margin-bottom: -24px;
}
.strategies-pagination-container *
{
    font-size: 12px !important;
}
#tab-content
{
    padding: 0px;
}

@media (max-width: 780px)
{
    .strategies-content {
        width: calc(100% - 264px);
        padding-right: 10px;
    }
    .strategies-menu-container
    {
        margin-left: 8px;
    }
}
@media (max-width: 620px)
{
    .strategies-header button{
        margin-top: calc(108.8333px / 2 - 24px)
    }
}
@media (max-width: 581px)
{
    .strategies-item-container {
        padding: 30px 20px 30px 20px;
    }
    .strategies-item
    {
        margin:10px 0px;
    }
    .strategies-menu-items {
        margin-top: calc(43px - 48px / 2);
    }
}
@media (max-width: 550px)
{
    .strategies-content
    {
        padding: 0px;
        width: 100%;
    }
    .strategies-date-container
    {
        float:left;
        margin-left: calc(50% - 131px);
    }
    .strategies-menu-container
    {
        margin-left: calc(50% - 197px / 2 - 26px);
    }
    .strategies-content h3 {
        text-align: center;
    }
}
@media (max-width: 350px)
{
    .strategies-date-container
    {
        margin-left: calc(50% - 132px / 2) !important;
    }
    .strategies-created-date
    {
        border-right: 1px solid #dadada;
    }
}